# Python
venv/
__pycache__/
*.pyc
.env

# Data and Exports
exports/*
!exports/red_flags_with_winners.json
!exports/red_flags_with_winners.csv
!exports/top_winning_companies.png
!exports/top_institutions.png